# File: .github/workflows/ci.yml

name: CI

on:
  push:
    branches:
      - main
      - preview
      - memora
      - far
      - istiqlal
      - ngelaras
      - bukhari
      - labx
      - init
  pull_request:
    branches:
      - main
      - preview

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Inject ENV variables
        run: |
          echo "NEXT_PUBLIC_TW_CLIENT_ID=${{ secrets.NEXT_PUBLIC_TW_CLIENT_ID }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_TW_SECRET_KEY=${{ secrets.NEXT_PUBLIC_TW_SECRET_KEY }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=${{ secrets.NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY }}" >> $GITHUB_ENV

      - name: Lint project
        run: yarn lint

      - name: Build project
        run: yarn build
